# Dependencias
node_modules/

# Base de datos SQLite
chat_data.db
chat_data.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Env
.env
.env.local

# Uploads temporales (si no quieres versionarlos)
src/uploads/

# Coverage / tests
coverage/

# Sistemas
.DS_Store
Thumbs.db
